# Doit! 판다스 입문

# 3장 판다스 데이터프레임과 시리즈

In [2]:
#시리즈 만들기

import pandas as pd
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [5]:
#index를 문자열로 지정하기

s =pd.Series(['Wes McKinney','Creator of Pandas'])
print(s)

#Series 메서드의 index 인자에 원하는 문자열을 리스트에 담아 전달한다

s =pd.Series(['Wes McKinney','Creator of Pandas'], index= ['Persn', 'Who'])
print(s)

0         Wes McKinney
1    Creator of Pandas
dtype: object
Persn         Wes McKinney
Who      Creator of Pandas
dtype: object

In [6]:
#데이터프레임 만들기

scientists = pd.DataFrame({
    'Name' : ['Rosaline Franklin', 'William Gosset'],
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37, 61]}
)

print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [8]:
#index 를 문자열로 바꾸기 , columns 인자 활용해서 행순서 지정하기

scientists = pd.DataFrame({
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37, 61]},
    index = ['Rosaline Franklin', 'William Gosset'],
    columns = ['Occupation', 'Born', 'Age', 'Died']
)

print(scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

In [10]:
#딕셔너리 형태는 순서가 없음. 데이터 순서를 보장하려면 OrderedDict 사용

from collections import OrderedDict

scientists = pd.DataFrame(OrderedDict([
    ('Name' , ['Rosaline Franklin', 'William Gosset']),
    ('Occupation' , ['Chemist', 'Statistician']),
    ('Born' , ['1920-07-25', '1876-06-13']),
    ('Died' , ['1958-04-16', '1937-10-16']),
    ('Age' , [37, 61])
])
)

print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [18]:
#데이터프레임 설정

scientists = pd.DataFrame(
    data= {'Occupation' : ['Chemist', 'Statistician'],
           'Born' : ['1920-07-25', '1876-06-13'],
           'Died' : ['1958-04-16', '1937-10-16'],
           'Age' : [37, 61]},
    index = ['Rosaline Franklin', 'William Gosset'],
    columns = ['Occupation', 'Born', 'Age', 'Died'])

#데이터프레임에서 시리즈 선택하기

first_row = scientists.loc['William Gosset']
print(type(first_row),"\n")
print(first_row)

<class 'pandas.core.series.Series'>

Occupation    Statistician
Born            1876-06-13
Age                     61
Died            1937-10-16
Name: William Gosset, dtype: object

In [20]:
#index 속성 사용 - index, values & 메서드- keys

#인덱스
print(first_row.index,"\n")

#데이터
print(first_row.values,"\n")

#keys 메서드 - index 속성과 같은 역할
print(first_row.keys())

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

['Statistician' '1876-06-13' 61 '1937-10-16']

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

In [21]:
#응용
print(first_row.index[0], "\n")
print(first_row.keys()[0], "\n")

Occupation

Occupation

In [23]:
ages = scientists['Age']
print(ages,"\n")
print(ages.mean(),"\n")
print(ages.min(),"\n")
print(ages.max(),"\n")
print(ages.std(),"\n")

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

49.0

37

61

16.97056274847714

메서드 정리 ("Series명"."메서드명"() 형태)  

append : 2개 이상의 시리즈 연결  
describe : 요약 통계량 계산  
drop_duplicates : 중복값이 없는 시리즈 반환  
equals : 시리즈에 해당 값을 가진 요소가 있는지 확인  
get_values : 시리즈 값 구하기(values 속성과 동일)  
isin : 시리즈에 포함된 값이 있는지 확인  
min : 최솟값 반환  
max : 최댓값 반환  
mean : 산술 평균 반환  
median : 중간값 반환  
replace : 특정 값을 가진 시리즈 값을 교체  
sample : 시리즈에서 임의의 값을 반환  
sort_values :  값을 정렬  
to_frame : 시리즈를 데이터프레임으로 변환

In [25]:
#boolean 추출하기

scientists = pd.read_csv('E:\\jupyter\\doitpandas\\doit_pandas-master\\data\\scientists.csv')

In [29]:
ages = scientists['Age']
print(ages.max())
print(ages.mean(),"\n")

#평균보다 나이가 많은 사람의 데이터만 추출
print(ages[ages>ages.mean()])

90
59.125

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [30]:
#비교 연산자의 결과 출력 - ages > ages.mean()

print(ages > ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [33]:
#브로드캐스팅 - 시리즈나 데이터프레임에 있는 모든 데이터에 대해 한번에 연산하는 것
#시리즈처럼 여러 개의 값을 가진 데이터 - 벡터
#단순 크기를 나타내는 데이터 - 스칼라

#같은 길이의 벡터로 연산 수행

print(ages+ages)
print(ages*ages)

#벡터에 스칼라 연산

print(ages+100)
print(ages*2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64
0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [37]:
#길이가 다른 벡터 연산

#시리즈 - 시리즈 연산 : 값은 인덱스 값만 계산

print(ages)
print(pd.Series([1,100]))

print(ages+pd.Series([1,100]))

#NaN은 누락값

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64
0      1
1    100
dtype: int64
0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [41]:
#sort_index 메서드
# 벡터끼리의 연산은 일치하는 index 값끼리 수행

print(ages)
rev_ages = ages.sort_index(ascending = False)
print(rev_ages)

print(ages*2)
print(ages+rev_ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64
7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [42]:
#데이터프레임에서 불린 추출하기

#Age 열에서 Age 열 평균보다 높은 행 출력
print(scientists[scientists['Age'] > scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

참, 거짓을 담은 리스트 : bool 벡터

In [46]:
#벡터의 길이가 다를 경우 - bool 벡터의 길이만큼 출력하지만
#버전 차이로 인해 Error pands 0.25 이하에서만 적용됨

print(scientists.loc[[True, True, False, True]*2])

                Name        Born        Died  Age     Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37        Chemist
1     William Gosset  1876-06-13  1937-10-16   61   Statistician
3        Marie Curie  1867-11-07  1934-07-04   66        Chemist
4      Rachel Carson  1907-05-27  1964-04-14   56      Biologist
5          John Snow  1813-03-15  1858-06-16   45      Physician
7       Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [47]:
#브로드캐스팅 - 데이터프레임에 스칼라 연산해보기
# 정수 데이터 - 2배, 문자열 데이터 - 문자열이 2번

print(scientists *2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

In [49]:
print(scientists['Born'].dtype)
#자료형 object = 문자열
print(scientists['Died'].dtype)
#자료형 object = 문자열

object
object

In [62]:
#날짜를 문자열 데이터 -> datetime 데이터로 바꾸기

#to_datetime 메서드 활용, format 지정

born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(born_datetime)
print(died_datetime)
#dtype이 datetime이 된 것을 확인

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]
0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [64]:
#데이터 프레임에 새로운 열 추가하기


scientists['born_dt'],scientists['died_dt'] = (born_datetime, died_datetime)
print(scientists.head())
print(scientists.shape)

#데이터 프레임 열 삭제하기 - axis로 행/열 삭제 여부 판단

scientists = scientists.drop(['born_dt', 'died_dt'], axis = 'columns')
print(scientists.head())
print(scientists.shape)

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14
(8, 7)
                   Name        Born        Died  Age    Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1        William Gosset  1876-06-13  1937-10-16   61  Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist
(8, 5)

In [67]:
#datetime 자료형 연산

scientists['born_dt'],scientists['died_dt'] = (born_datetime, died_datetime)

scientists['age_days_dt'] = scientists['died_dt'] - scientists['born_dt']

print(scientists[['born_dt', 'died_dt', 'age_days_dt']])

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

In [79]:
#random 으로 데이터 섞기

import random

random.seed(42)
random.shuffle(scientists['Age'])
print(scientists['Age'])

#매번 다른 값이 나옴

0    77
1    90
2    37
3    61
4    41
5    45
6    66
7    56
Name: Age, dtype: int64

pickle이란?  
피클은 데이터를 바이너리 형태로 직렬화한 오브젝트를 저장하는 방법  
스프레드시트보다 더 작은 용량으로 데이터 저장 가능  

to_pickle 메서드를 사용해서 시리즈를 피클로 저장  
피클 데이터를 읽을 때는 read_pickle 메서드로 읽어야 함.

In [83]:
#pickle 형태로 저장

#시리즈를 pickle 형태로
names = scientists['Name']
names.to_pickle('E:\\jupyter\\doitpandas\\scientists_names_series.pickle')

#데이터프레임을 pickle 형태로
scientists.to_pickle('E:\\jupyter\\doitpandas\\scientists_df.pickle')

#출력

scientists_names_from_pickle = pd.read_pickle('E:\\jupyter\\doitpandas\\scientists_names_series.pickle')
print(scientists_names_from_pickle)

scientists_names_from_pickle = pd.read_pickle('E:\\jupyter\\doitpandas\\scientists_df.pickle')
print(scientists_names_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object
                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   77             Chemist
1        William Gosset  1876-06-13  1937-10-16   90        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   37               Nurse
3           Marie Curie  1867-11-07  1934-07-04   61             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   41           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   66  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   56       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

CSV 파일 : 데이터를 쉼표로 구분  
TSV 파일 : 데이터를 탭으로 구분

to_csv 메서드로 저장 가능  
sep 인자 활용하여 '\t' 추가하여 tsv 형태로 저장가능

엑셀 파일로 저장하기  

pip install xlwt  
pip install openpyxl

names_df = names.to_frame()  

import xlwt  
names_df.to_excel("경로/파일명.xls")  

import openpyxl  
names_df.to_excel("경로/파일명.xlsx")