In [4]:
import pandas as pd
df = pd.read_csv('C:/Users/ansj0/doitpandas/doit_pandas-master/data/gapminder.tsv', sep='\t')

In [6]:
print(df.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [12]:
print(type(df))
print(df.shape)
print(df.columns)

<class 'pandas.core.frame.DataFrame'>
(1704, 6)
Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [13]:
print(df.dtypes)

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [14]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

In [22]:
country_df=df['country']
print(type(country_df))
print(country_df.head())
print(country_df.tail())

<class 'pandas.core.series.Series'>
0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object
1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [25]:
print(df.loc[0])
print(df.loc[df.shape[0]-1])

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object
country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

In [26]:
print(df.tail(n= 15))

       country continent  year  lifeExp       pop    gdpPercap
1689    Zambia    Africa  1997   40.238   9417789  1071.353818
1690    Zambia    Africa  2002   39.193  10595811  1071.613938
1691    Zambia    Africa  2007   42.384  11746035  1271.211593
1692  Zimbabwe    Africa  1952   48.451   3080907   406.884115
1693  Zimbabwe    Africa  1957   50.469   3646340   518.764268
1694  Zimbabwe    Africa  1962   52.358   4277736   527.272182
1695  Zimbabwe    Africa  1967   53.995   4995432   569.795071
1696  Zimbabwe    Africa  1972   55.635   5861135   799.362176
1697  Zimbabwe    Africa  1977   57.674   6642107   685.587682
1698  Zimbabwe    Africa  1982   60.363   7636524   788.855041
1699  Zimbabwe    Africa  1987   62.351   9216418   706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340   693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948   792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563   672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143   469.709298